<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ===================================================== -->
  <!-- Box Inertia -->
  <!-- ===================================================== -->

  <xacro:macro name="box_inertia"
               params="mass x y z">

    <inertial>

      <origin xyz="0 0 0"/>

      <mass value="${mass}"/>

      <inertia

        ixx="${mass*(y*y+z*z)/12.0}"

        ixy="0"

        ixz="0"

        iyy="${mass*(x*x+z*z)/12.0}"

        iyz="0"

        izz="${mass*(x*x+y*y)/12.0}"/>

    </inertial>

  </xacro:macro>

  <!-- ===================================================== -->
  <!-- Cylinder Inertia -->
  <!-- ===================================================== -->

  <xacro:macro name="cylinder_inertia"
               params="mass radius length">

    <inertial>

      <origin xyz="0 0 0"/>

      <mass value="${mass}"/>

      <inertia

        ixx="${mass*(3*radius*radius+length*length)/12.0}"

        ixy="0"

        ixz="0"

        iyy="${0.5*mass*radius*radius}"

        iyz="0"

        izz="${mass*(3*radius*radius+length*length)/12.0}"/>

    </inertial>

  </xacro:macro>

</robot>
