<?xml version="1.0"?>

<robot
    name="mars_rover"
    xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Properties / materials / inertials / Gazebo / control  -->


  <xacro:include filename="$(find mars_rover)/urdf/properties.xacro"/>
  <xacro:include filename="$(find mars_rover)/urdf/materials.xacro"/>
  <xacro:include filename="$(find mars_rover)/urdf/inertials.xacro"/>
  <xacro:include filename="$(find mars_rover)/urdf/gazebo.xacro"/>
  <xacro:include filename="$(find mars_rover)/urdf/ros2_control.xacro"/>



  <!-- BASE LINK  -->


  <link name="base_link">

    <!-- Main body -->

   <visual>
  <origin xyz="0 0 0"
          rpy="0 0 1.57079632679"/>

  <geometry>
           <mesh
    filename="package://mars_rover/meshes/visual/Main_Body.obj"
    scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
  </geometry>
  
  <material name="BodyGrey">
  <color rgba="0.35 0.35 0.35 1.0"/>
</material>
  
</visual>

<visual>
  <origin xyz="0 0 0"
          rpy="0 0 1.57079632679"/>

  <geometry>
    <mesh
    filename="package://mars_rover/meshes/visual/Chassis.obj"
    scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
  </geometry>
</visual>

    <!-- Main collision -->

    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.57079632679"/>
      <geometry>
      <mesh
    filename="package://mars_rover/meshes/collision/Main_Body.stl"
    scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
      </geometry>
    </collision>

    <xacro:box_inertia
        mass="${body_mass}"
        x="${body_length}"
        y="${body_width}"
        z="${body_height}"/>

  </link>



  <!-- CAMERA  -->


  <link name="camera_link">

    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.57079632679"/>
      <geometry>
        <mesh filename="package://mars_rover/meshes/visual/ZED2i_Camera.obj"
        scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
      </geometry>
    </visual>

  </link>

  <joint name="camera_joint"
         type="fixed">

    <parent link="base_link"/>
    <child link="camera_link"/>

    <origin xyz="${0 * rover_scale}
         ${0 * rover_scale}
         ${0 * rover_scale}"
    rpy="0 0 0"/>

  </joint>


  <link name="camera_optical_frame"/>

  <joint name="camera_optical_joint"
         type="fixed">

    <parent link="camera_link"/>
    <child link="camera_optical_frame"/>

    <origin xyz="0 0 0"
            rpy="-1.570796 0 -1.570796"/>

  </joint>


<!-- ZED 2i LEFT OPTICAL CENTER   -->


<link name="zed_left_camera_link"/>

<joint name="zed_left_camera_joint"
       type="fixed">

  <parent link="base_link"/>
  <child link="zed_left_camera_link"/>

<origin
    xyz="${0.15518 * rover_scale}
         ${-0.058794 * rover_scale}
         ${0.18 * rover_scale}"
    rpy="0 0 0"/>

</joint>



<!-- ZED 2i RIGHT OPTICAL CENTER  -->


<link name="zed_right_camera_link"/>

<joint name="zed_right_camera_joint"
       type="fixed">

  <parent link="base_link"/>
  <child link="zed_right_camera_link"/>

<origin
    xyz="${0.15518 * rover_scale}
         ${0.061206 * rover_scale}
         ${0.17269 * rover_scale}"
    rpy="0 0 0"/>

</joint>


<!-- FRONT LEFT MOTOR                                          -->


<link name="FL_motor_link">

  <visual>

    <origin xyz="0 0 0"
            rpy="0 0 1.57079632679"/>

    <geometry>
      <mesh filename="package://mars_rover/meshes/visual/Motor_FL.obj"
      scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
    </geometry>

  </visual>

</link>


<joint name="FL_motor_joint"
       type="fixed">

  <parent link="base_link"/>
  <child link="FL_motor_link"/>

  <origin xyz="${0.092373 * rover_scale}
         ${0.11249 * rover_scale}
         ${0.063755 * rover_scale}"
          rpy="0 0 0"/>

</joint>


<!-- FRONT LEFT WHEEL -->


<link name="FL_wheel_link">

<visual>
  <origin xyz="0 0 0"
          rpy="0 0 0"/>

  <geometry>
    <mesh filename="package://mars_rover/meshes/visual/FL_Wheel.obj"
    scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
  </geometry>

</visual>


<collision>

  <origin xyz="0 0 0"
          rpy="0 1.57079632679 0"/>

  <geometry>
    <cylinder
        radius="${wheel_radius}"
        length="${wheel_width}"/>
  </geometry>

</collision>


  <xacro:cylinder_inertia
      mass="${wheel_mass}"
      radius="${wheel_radius}"
      length="${wheel_width}"/>

</link>

<!-- FRONT LEFT WHEEL JOINT -->


<joint name="FL_wheel_joint"
       type="continuous">

  <parent link="FL_motor_link"/>
  <child link="FL_wheel_link"/>

  <origin xyz="0 0 0"
          rpy="0 0 1.57079632679"/>

  <axis xyz="1 0 0"/>

  <limit effort="30"
         velocity="30"/>

  <dynamics damping="0.1"
            friction="0.1"/>

</joint>




  <!-- FRONT RIGHT MOTOR / SUPPORT  -->


  <link name="FR_motor_link">

    <visual>
      <origin xyz="0 0 0"
              rpy="0 0 1.57079632679"/>

      <geometry>
        <mesh filename="package://mars_rover/meshes/visual/Motor_FR.obj"
        scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
      </geometry>
    </visual>

  </link>

  <joint name="FR_motor_joint"
         type="fixed">

    <parent link="base_link"/>
    <child link="FR_motor_link"/>

       <origin xyz="${0.092373 * rover_scale}
         ${-0.11309 * rover_scale}
         ${0.063755 * rover_scale}"
          rpy="0 0 0"/>

  </joint>


  <link name="FR_wheel_link">

    <visual>
      <origin xyz="0 0 0"
              rpy="0 0 0"/>

      <geometry>
        <mesh filename="package://mars_rover/meshes/visual/FR_Wheel.obj"
        scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0"
              rpy="0 1.57079632679 0"/>

      <geometry>
        <cylinder
            radius="${wheel_radius}"
            length="${wheel_width}"/>
      </geometry>
    </collision>

    <xacro:cylinder_inertia
        mass="${wheel_mass}"
        radius="${wheel_radius}"
        length="${wheel_width}"/>

  </link>

  <joint name="FR_wheel_joint"
         type="continuous">

    <parent link="FR_motor_link"/>
    <child link="FR_wheel_link"/>

    <origin xyz="0 0 0"
            rpy="0 0 1.57079632679"/>

    <axis xyz="1 0 0"/>

    <limit
        effort="30"
        velocity="30"/>

    <dynamics
        damping="0.1"
        friction="0.1"/>

  </joint>




  <!-- MIDDLE LEFT MOTOR / SUPPORT -->


  <link name="ML_motor_link">

    <visual>
      <origin xyz="0 0 0"
              rpy="0 0 1.57079632679"/>

      <geometry>
        <mesh filename="package://mars_rover/meshes/visual/Motor_ML.obj"
        scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
      </geometry>
    </visual>

  </link>

  <joint name="ML_motor_joint"
         type="fixed">

    <parent link="base_link"/>
    <child link="ML_motor_link"/>

      <origin xyz="${-0.048627 * rover_scale}
         ${0.11249 * rover_scale}
         ${0.063755 * rover_scale}"
          rpy="0 0 0"/>
          
  </joint>


  <link name="ML_wheel_link">

    <visual>
      <origin xyz="0 0 0"
              rpy="0 0 0"/>

      <geometry>
        <mesh filename="package://mars_rover/meshes/visual/ML_Wheel.obj"
        scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0"
              rpy="0 1.57079632679 0"/>

      <geometry>
        <cylinder
            radius="${wheel_radius}"
            length="${wheel_width}"/>
      </geometry>
    </collision>

    <xacro:cylinder_inertia
        mass="${wheel_mass}"
        radius="${wheel_radius}"
        length="${wheel_width}"/>

  </link>

  <joint name="ML_wheel_joint"
         type="continuous">

    <parent link="ML_motor_link"/>
    <child link="ML_wheel_link"/>

    <origin xyz="0 0 0"
            rpy="0 0 1.57079632679"/>

    <axis xyz="1 0 0"/>

    <limit
        effort="30"
        velocity="30"/>

    <dynamics
        damping="0.1"
        friction="0.1"/>

  </joint>




  <!-- MIDDLE RIGHT MOTOR / SUPPORT  -->


  <link name="MR_motor_link">

    <visual>
      <origin xyz="0 0 0"
              rpy="0 0 1.57079632679"/>

      <geometry>
        <mesh filename="package://mars_rover/meshes/visual/Motor_MR.obj"
        scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
      </geometry>
    </visual>

  </link>

  <joint name="MR_motor_joint"
         type="fixed">

    <parent link="base_link"/>
    <child link="MR_motor_link"/>

         <origin xyz="${-0.048627 * rover_scale}
         ${-0.11309 * rover_scale}
         ${0.063755 * rover_scale}"
          rpy="0 0 0"/>

  </joint>


  <link name="MR_wheel_link">

    <visual>
      <origin xyz="0 0 0"
              rpy="0 0 0"/>

      <geometry>
        <mesh filename="package://mars_rover/meshes/visual/MR_Wheel.obj"
        scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0"
              rpy="0 1.57079632679 0"/>

      <geometry>
        <cylinder
            radius="${wheel_radius}"
            length="${wheel_width}"/>
      </geometry>
    </collision>

    <xacro:cylinder_inertia
        mass="${wheel_mass}"
        radius="${wheel_radius}"
        length="${wheel_width}"/>

  </link>

  <joint name="MR_wheel_joint"
         type="continuous">

    <parent link="MR_motor_link"/>
    <child link="MR_wheel_link"/>

    <origin xyz="0 0 0"
            rpy="0 0 1.57079632679"/>

    <axis xyz="1 0 0"/>

    <limit
        effort="30"
        velocity="30"/>

    <dynamics
        damping="0.1"
        friction="0.1"/>

  </joint>




  <!-- REAR LEFT MOTOR / SUPPORT -->


  <link name="RL_motor_link">

    <visual>
      <origin xyz="0 0 0"
              rpy="0 0 1.57079632679"/>

      <geometry>
        <mesh filename="package://mars_rover/meshes/visual/Motor_RL.obj"
        scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
      </geometry>
    </visual>

  </link>

  <joint name="RL_motor_joint"
         type="fixed">

    <parent link="base_link"/>
    <child link="RL_motor_link"/>
            
           <origin xyz="${-0.18863 * rover_scale}
         ${0.11249 * rover_scale}
         ${0.063755 * rover_scale}"
          rpy="0 0 0"/>

  </joint>


  <link name="RL_wheel_link">

    <visual>
      <origin xyz="0 0 0"
              rpy="0 0 0"/>

      <geometry>
        <mesh filename="package://mars_rover/meshes/visual/RL_Wheel.obj"
        scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0"
              rpy="0 1.57079632679 0"/>

      <geometry>
        <cylinder
            radius="${wheel_radius}"
            length="${wheel_width}"/>
      </geometry>
    </collision>

    <xacro:cylinder_inertia
        mass="${wheel_mass}"
        radius="${wheel_radius}"
        length="${wheel_width}"/>

  </link>

  <joint name="RL_wheel_joint"
         type="continuous">

    <parent link="RL_motor_link"/>
    <child link="RL_wheel_link"/>

    <origin xyz="0 0 0"
            rpy="0 0 1.57079632679"/>

    <axis xyz="1 0 0"/>

    <limit
        effort="30"
        velocity="30"/>

    <dynamics
        damping="0.1"
        friction="0.1"/>

  </joint>




  <!-- REAR RIGHT MOTOR / SUPPORT -->


  <link name="RR_motor_link">

    <visual>
      <origin xyz="0 0 0"
              rpy="0 0 1.57079632679"/>

      <geometry>
        <mesh filename="package://mars_rover/meshes/visual/Motor_RR.obj"
        scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
      </geometry>
    </visual>

  </link>

  <joint name="RR_motor_joint"
         type="fixed">

    <parent link="base_link"/>
    <child link="RR_motor_link"/>

        <origin xyz="${-0.18863 * rover_scale}
         ${-0.11309 * rover_scale}
         ${0.063755 * rover_scale}"
          rpy="0 0 0"/>

  </joint>


  <link name="RR_wheel_link">

    <visual>
      <origin xyz="0 0 0"
              rpy="0 0 0"/>

      <geometry>
        <mesh filename="package://mars_rover/meshes/visual/RR_Wheel.obj"
        scale="${rover_scale} ${rover_scale} ${rover_scale}"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0"
              rpy="0 1.57079632679 0"/>

      <geometry>
        <cylinder
            radius="${wheel_radius}"
            length="${wheel_width}"/>
      </geometry>
    </collision>

    <xacro:cylinder_inertia
        mass="${wheel_mass}"
        radius="${wheel_radius}"
        length="${wheel_width}"/>

  </link>

  <joint name="RR_wheel_joint"
         type="continuous">

    <parent link="RR_motor_link"/>
    <child link="RR_wheel_link"/>

    <origin xyz="0 0 0"
            rpy="0 0 1.57079632679"/>

    <axis xyz="1 0 0"/>

    <limit
        effort="30"
        velocity="30"/>

    <dynamics
        damping="0.1"
        friction="0.1"/>

  </joint>
  
<!-- ZED 2i LEFT CAMERA SENSOR  -->


<gazebo reference="zed_left_camera_link">

  <sensor
      name="zed_left_camera"
      type="camera">

    <pose>0 0 0 0 0 0</pose>

    <always_on>true</always_on>
    <update_rate>15</update_rate>
    <visualize>false</visualize>

    <camera>

      <horizontal_fov>1.7628</horizontal_fov>

      <image>
        <width>640</width>
        <height>360</height>
        <format>R8G8B8</format>
      </image>

      <clip>
        <near>0.05</near>
        <far>100.0</far>
      </clip>

    </camera>

    <topic>/zed/zed_node/left/image_rect_color</topic>

  </sensor>

</gazebo>

<!-- ZED 2i RIGHT CAMERA SENSOR  -->

<gazebo reference="zed_right_camera_link">

  <sensor
      name="zed_right_camera"
      type="camera">

    <pose>0 0 0 0 0 0</pose>

    <always_on>true</always_on>
    <update_rate>15</update_rate>
    <visualize>false</visualize>

    <camera>

      <horizontal_fov>1.7628</horizontal_fov>

      <image>
        <width>640</width>
        <height>360</height>
        <format>R8G8B8</format>
      </image>

      <clip>
        <near>0.05</near>
        <far>100.0</far>
      </clip>

    </camera>

    <topic>/zed/zed_node/right/image_rect_color</topic>

  </sensor>

</gazebo>

<gazebo>

  <plugin
      filename="gz-sim-diff-drive-system"
      name="gz::sim::systems::DiffDrive">

    <left_joint>FL_wheel_joint</left_joint>
    <left_joint>ML_wheel_joint</left_joint>
    <left_joint>RL_wheel_joint</left_joint>

    <right_joint>FR_wheel_joint</right_joint>
    <right_joint>MR_wheel_joint</right_joint>
    <right_joint>RR_wheel_joint</right_joint>

    <wheel_separation>0.22558</wheel_separation>
    <wheel_radius>0.056689</wheel_radius>

    <topic>/cmd_vel</topic>

    <odom_topic>/odom</odom_topic>
    <tf_topic>/tf</tf_topic>

    <frame_id>odom</frame_id>
    <child_frame_id>base_link</child_frame_id>

    <odom_publish_frequency>30</odom_publish_frequency>

  </plugin>

</gazebo>


<!--- LiDar ----> 

<link name="lidar_link"/>

<joint
    name="lidar_joint"
    type="fixed">

  <parent link="base_link"/>
  <child link="lidar_link"/>

  <origin
      xyz="0 0 ${0.116591928 * rover_scale}"
      rpy="0 0 0"/>

</joint>

<gazebo reference="lidar_link">

  <sensor name="robosense_rs16"
          type="gpu_lidar">

    <always_on>true</always_on>
    <update_rate>5</update_rate>
    <visualize>false</visualize>

    <topic>/robosense</topic>

    <gz_frame_id>lidar_link</gz_frame_id>

    <ray>

      <scan>

        <horizontal>
          <samples>720</samples>
          <resolution>1</resolution>
          <min_angle>-3.14159265359</min_angle>
          <max_angle>3.14159265359</max_angle>
        </horizontal>

        <vertical>
          <samples>16</samples>
          <resolution>1</resolution>
          <min_angle>-0.2617993878</min_angle>
          <max_angle>0.2617993878</max_angle>
        </vertical>

      </scan>

      <range>
        <min>0.40</min>
        <max>100.0</max>
        <resolution>0.01</resolution>
      </range>

    </ray>

  </sensor>

</gazebo>


<!--- IMU ----> 

<link name="imu_link"/>

<joint
    name="imu_joint"
    type="fixed">

  <parent link="base_link"/>
  <child link="imu_link"/>

  <origin
      xyz="0 0.001206 0.17269"
      rpy="0 0 0"/>

</joint>

<gazebo reference="imu_link">

  <sensor
      name="rover_imu"
      type="imu">

    <always_on>true</always_on>
    <update_rate>100</update_rate>
    <visualize>true</visualize>

    <topic>/imu/data</topic>

  </sensor>

</gazebo>

</robot>
